<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


  <!-- This is the 'importing' of external libraries. -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <style>
      html, body {height:100vh; margin: 0;}
      #container {min-width: 1000px; height:100vh; margin: 0; background-color: #EEEEEE;}
      .main {height:100vh;}
      #logos{height:4vh; padding-left:5px;}
      #left_column { width:34%; float:left; height:95vh;}
      #right_column { float:right; width:66%; height:100vh;}
      #load_panel{ width:92%; height:92.5vh;}
      #load_selection { height:40vh;}
      #load_inspection { height:50vh;}
      #tariff_selection_panel { height:40vh; }
      #results_panel { height:55vh; }
      #result_chart  { height:40vh; width: 50%}
  </style>

</head>

<body>
<div id="container">

  <div class="main">

    <div id="left_column">

        <div id="logos">
            <img src="static/CEEMLogo.png" alt="UNSW Logo" width="205", style="float:left">
            <img src="static/UNSWLogo.png" alt="UNSW Logo" width="90">
        </div>

        <fieldset id="load_panel">
            <legend>Select Load:</legend>
            <div id="load_selecion">
                <span>Selected:</span>
                <select id="select" name="select" ><option selected="selected">blank</option></select>
                <script src="static/build_load_selector.js"></script>
            </div>
            <hr>
            <div id="demograhphic_selection">
                <div id="demo_0" >
                    <span id="demo_label_0"></span>
                    <select class="js-example-basic-multiple" id="demo_select_0" multiple="multiple" ></select>
                </div>
                <script> $('#demo_0').hide() </script>
                <div id="demo_1" >
                    <span id="demo_label_1"></span>
                    <select class="js-example-basic-multiple" id="demo_select_1" multiple="multiple" ></select>
                </div>
                <script> $('#demo_1').hide() </script>
                <div id="demo_2" >
                    <span id="demo_label_2"></span>
                    <select class="js-example-basic-multiple" id="demo_select_2" multiple="multiple" ></select>
                </div>
                <script> $('#demo_2').hide() </script>
                <div id="demo_3" >
                    <span id="demo_label_3"></span>
                    <select class="js-example-basic-multiple" id="demo_select_3" multiple="multiple" ></select>
                </div>
                <script> $('#demo_3').hide() </script>
                <div id="demo_4" >
                    <span id="demo_label_4"></span>
                    <select class="js-example-basic-multiple" id="demo_select_4" multiple="multiple" ></select>
                </div>
                <script> $('#demo_4').hide() </script>
                <div id="demo_5" >
                    <span id="demo_label_5"></span>
                    <select class="js-example-basic-multiple" id="demo_select_5" multiple="multiple" ></select>
                </div>
                <script> $('#demo_5').hide() </script>
                <div id="demo_6" >
                    <span id="demo_label_6"></span>
                    <select class="js-example-basic-multiple" id="demo_select_6" multiple="multiple" ></select>
                </div>
                <script> $('#demo_6').hide() </script>
                <div id="demo_7" >
                    <span id="demo_label_7"></span>
                    <select class="js-example-basic-multiple" id="demo_select_7" multiple="multiple" ></select>
                </div>
                <script> $('#demo_7').hide() </script>
                <div id="demo_8" >
                    <span id="demo_label_8"></span>
                    <select class="js-example-basic-multiple" id="demo_select_8" multiple="multiple" ></select>
                </div>
                <script> $('#demo_8').hide() </script>
                <div id="demo_9" >
                    <span id="demo_label_9"></span>
                    <select class="js-example-basic-multiple" id="demo_select_9" multiple="multiple" ></select>
                </div>
                <script> $('#demo_9').hide() </script>
            </div>
            <hr>
            <div id="load_inspection">
                <!-- Chart goes here in this div -->
                <div class="ct-chart2 ct-perfect-fourth"></div>
                <!-- This is the script.js that's in 'static' folder - it loads the chart data and draws the chart. -->
                <script src="static/plot_load.js"></script>
            </div>
        </fieldset>

    </div>

    <div id="right_column">

        <fieldset id="results_panel">
            <!-- Chart goes here in this div -->
            <div id="result_chart">
            <div class="ct-chart ct-perfect-fourth"></div>
            <!-- This is the script.js that's in 'static' folder - it loads the chart data and draws the chart. -->
            <script src="static/script.js"></script>
            </div>
        </fieldset>

        <fieldset id="tariff_selection_panel">
            <legend>Select Tariff:</legend>

        </fieldset>

    </div>


  </div>

</div>
</body>
</html>