<div class="col" style="width: 50%">
    <div class="row" style="height: 12%">
        <h4 style="margin: 0;">Filter tariffs</h4>
        <hr style="width: 80%; float: left;">
    </div>
    <div class="row" style="height: 45%">
        <div id="left_tariff_col"  class="col" style="width: 30%">
            <div class="label_stacked">Type:</div>
            <div class="label_stacked">State:</div>
            <div class="label_stacked">Provider:</div>
            <div class="label_stacked">Year:</div>
        </div>
        <div id="middle_tariff_col" class="col" style="width: 50%">
            <select class="select_tariff_type tariff_filter">
                <option selected="selected">Any</option>
            </select>
            <select class="select_tariff_state tariff_filter">
                <option selected="selected">Any</option>
            </select>
            <select class="select_tariff_provider tariff_filter">
                <option selected="selected">Any</option>
            </select>
            <select class="select_tariff_year tariff_filter">
                <option selected="selected">Any</option>
            </select>
        </div>
    </div>
    <div class="row" style="height: 12%">
        <h4 style="margin: 0;">Select tariff</h4>
        <hr style="width: 80%; float: left;">
    </div>
    <div class="row" style="height: 40%">
        <div class="col" style="width: 30%">
            <div class="label_stacked">Tariff:</div>
        </div>
        <div class="col" style="width: 50%">
            <select class="select_tariff">
                <option selected="selected">None</option>
            </select>
        </div>
    </div>
</div>
<div class="col" style="width: 50%">
    <div class="row" style="height: 12%">
        <h4 style="margin: 0;">Tariff Details</h4>
        <hr style="width: 80%; float: left;">
    </div>
    <div class="row" style="height: 45%">
        <div class="tariff_panel_header col" style="width: 30%;">
            <div class="name_label label_stacked">Name:&nbsp</div>
            <div class="type_label label_stacked">Type:&nbsp</div>
            <div class="state_label label_stacked">State:&nbsp</div>
        </div>
        <div class="tariff_panel_header col" style="width: 70%;">
            <div class="name_value label_stacked tariff_label">N/A</div>
            <div class="type_value label_stacked tariff_label">N/A</div>
            <div class="state_value label_stacked tariff_label">N/A</div>
        </div>
    </div>
    <div class="row" style="height: 12%">
        <h4 style="margin: 0;">Actions</h4>
        <hr style="width: 80%; float: left;">
    </div>
    <div class="row" style="height: 40%">
        <button style="width: 80%; text-align: left; height: 3.25vh;"
                onclick="get_default_case_name()">Apply tariff to load and create case</button>
        <button style="width: 80%; text-align: left; height: 3.25vh;"
                onclick="delete_tariff()">Delete from active database</button>
        <button class="save_mod_button" style="width: 80%; text-align: left; height: 3.25vh;"
                    onclick="get_tariff_then_save(this)">Save new version of tariff</button>
    </div>
</div>

